.header {
  background: var(--gray-700);
  width: 100vw;
  height: 12.5rem;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
}

.headerIcon {
  width: 1.2rem;
  margin-bottom: -.3rem;
}

.headerTitleColor1 {
  color: var(--blue);
}

.headerTitleColor2 {
  color: var(--purple);
}